*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

body {
  font-family: "IM Fell Double Pica PRO", serif;
  color: #fff;
}

a {
  color: #fff;
}

.bgVideo-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
  /* https://slicejack.com/fullscreen-html5-video-background-css/ */
  @media (min-aspect-ratio: 16/9) {
    .bgVideo {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .bgVideo {
      width: auto;
      height: 100%;
    }
  }

.overlay {
  position: fixed;
  left: 3em;
  width: 300px;
  display: grid;
  height: 100%;
  padding: 3em 0;
  grid-template-rows: auto 1fr;
  text-shadow: 1px 1px 5px rgba(0,0,0,.15);
}

.toggle {
  padding: .5em 1em;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  margin-right: 1em;
  font-family: "IM Fell Double Pica PRO", serif;
  font-size: .8em;
  cursor: pointer;
}

.toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.text {
  display: grid;
  grid-template-rows: auto 1fr auto;
  opacity: 0.8;
  transition: .5s opacity ease-in-out;
}

.hidden {
  opacity: 0;
}

.instruction {
  font-style: italic;
}

.stream {
  position: fixed;
  width: 100%;
  height: 40vh;
  top: 60%;
}

.thought {
  position: fixed;
  width: 100px;
  left: 3em;
}