extends layout

block content
  video.bgVideo#bgVideo(autoplay loop muted)
    source(src="/images/water1.mp4" type="video/mp4")
    | Sorry, your browser doesn't support embedded videos.
  div.text
    p.poem.
      i was walking<br>
      through the stream<br>
      of consciousness<br>
      in the woods.<br>
      Little minnows<br>
      tickled my feet<br>
      like thoughts.
    p.instruction.
      Type out your stream of consciousness.<br>
      <a href="#" id="mute">[Unmute]</a>
    p.credits.
      By #[a(href="https://whykatherine.github.io") Katherine Yang]<br>
      Words by Cameron Roper<br>
      Video by #[a(href="https://www.pexels.com/@abraham-braun-1115122") Abraham Braun] from #[a(href="https://www.pexels.com/photo/a-streaming-shallow-river-breaking-on-the-middle-3045917/") Pexels]
  div.stream#stream
  script(src="/javascripts/scripts.js")